.heading{
  text-align: center;
  padding: 1%;
}
.App >a{
  padding:10%;
}
.App form{
  padding: 5%;
}
label{
  padding: 2% 0;
}
.form-button{
  padding: 5%;
}
.trash-button{
  margin-top: 2rem !important;
}
.trash-icon{
  color: red;
}
